/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
    font-family: 'Scramble';
    src: url('../fonts/scramble.ttf') format('truetype');
}

/* Base Styles */
body {
    font-family: 'Inter', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

main {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}

h1 {
    font-size: 3.8rem;
    font-family: 'Scramble';
}

h1 span {
    background-color: #fafafa;
}

.text-center {
    text-align: center;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.nav-list li a {
    color: #000000;
}

.navbar-logo img,
.navbar-logo h5 {
    display: inline-block;
}

.navbar-logo h5 {
    position: relative;
    bottom: 25%;
}

#toTopBtn {
    position: fixed;
    bottom: 4rem;
    right: 2.5rem;
    border: 0;
    border-radius: 50%;
    padding: 0;
    z-index: 100;
    display: none;
    cursor: pointer;
}

#toTopBtn i {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    padding-top: .5rem;
    font-size: 2rem;
    background-color: #ffff00;
}

footer .row {
    margin-bottom: .5rem;
}

.copyright-div,
.social-links-div {
    margin-top: 1rem;
    text-align: center;
}

.social-links {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #8f8f8f;
    text-align: center;
    padding: .5rem 0;
    color: #000000;
}

.hvr-fade:active,
.hvr-fade:focus,
.hvr-fade:hover {
    background-color: #ffff00;
    color: #fafafa;
}

.game-title {
    font-size: x-large;
    font-weight: bold;
}

/* Home page */
.hero-image {
    background-image: url(../images/hero-image.jpg);
    height: 62vh;
    max-height: 30rem;
}

.hero-card-text {
    font-size: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.hero-btn {
    background-color: #ffff00;
    color: #000000;
}

.hero-btn:hover {
    background-color: rgba(255, 255, 0, .75);
}

.recently-added-panel {
    background-color: #dddddd!important;
    margin-top: 0 !important;
    margin-bottom: 0;
}

.action-hr {
    background-color: unset;
    border: none;
    min-height: 1px;
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, .75)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
}

.utility-links {
    color: #000000;
    font-size: 2rem;
}

/* All/My Games */
.box-art {
    max-width: 100%;
    height: 250px;
}

.game-info {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.add-game {
    color: #000000
}

.game-link {
    color: #000000
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
    text-align: center;
}

.pagination-page-info b {
    color: #000000;
    background: #ffff00;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.pagination {
    text-align: center;
}

.pagination li.active {
    background-color: #ffff00;
}

.pagination li.active a {
    color: #000000;
    font-weight: bold;
}

/* View Game */
.main-box-image {
    width: 100%;
    height: 250px;
}

.game-data-panel,
.game-description-panel {
    min-height: 230px !important;
}

.game-data li span,
.game-data-2 li span {
    font-weight: bold;
}

.game-data li,
.game-data-2 li {
    margin-bottom: .5rem;
}

.game-data {
    margin-bottom: 0;
}

.game-data-2 {
    margin: 0;
}

.back-btn {
    margin-top: 2rem;
    margin-left: 2rem;
    background-color: rgba(240, 52, 52, 1);
}

.back-btn:hover,
.back-btn:focus,
.back-btn:active {
    background-color: rgba(240, 52, 52, .75);
}

.ratings-text {
    font-style: italic;
    font-weight: lighter !important;
}

.ratings-span {
    display: none;
}

.rate-btn {
    display: none;
    background-color: rgba(255, 255, 0);
    color: #000000;
}

.rate-btn:hover,
.rate-btn:focus {
    background-color: rgba(255, 255, 0, .75);
}

.amazon-link {
    margin-bottom: 2rem;
}

/* Add Game Form */
#description {
    height: 5rem;
}

label[for="description"] {
    padding-left: .5rem;
}

/* Profile page */
.profile-links {
    color: #000000;
}

/* Forms & Card Panels */
.sub-heading {
    font-size: 1.5rem;
}

.outer-panel {
    margin-top: 2rem;
    background-color: #b796ac;
}

.submit-btn i,
.submit-btn i input {
    background-color: #ffff00;
}

.submit-btn i:hover,
.submit-btn i input:hover {
    background-color: rgba(255, 255, 0, .75);
}

.small-text {
    font-size: 85%;
}

.edit-btn,
.delete-btn {
    font-size: .75rem;
    width: 110px;
}

.delete-btn {
    background-color: darkred;
}

.delete-btn:hover {
    background-color: red;
}

.game-panel {
    height: 36rem;
}

/* Flashed Messages */
.card-panel.success {
    background-color: lightgreen;
}

.card-panel.warning {
    background-color: darkred;
}

.card-panel.info {
    background-color: lightskyblue;
}

.fa-window-close {
    margin-left: 1rem;
    cursor: pointer;
}


/* Star rating system */
/* Adapted from:  https://dev.to/inhuofficial/5-star-rating-system-actually-accessible-no-js-no-wai-aria-3idl*/
:root {
    --star-rating-size: 2.5rem;
    --unchecked-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3e%3cpath fill='%23fff' stroke='%23666' d='m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z'/%3e%3c/svg%3e");
    --checked-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3e%3cpath fill='gold' stroke='%23666' stroke-width='2' d='m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z'/%3e%3c/svg%3e");
    --hovered-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3e%3cpath fill='red' stroke='%23fff' stroke-width='2' d='m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z'/%3e%3c/svg%3e");
    --max-stars: 5;

}

.star-rating {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    padding: 0.3rem;
    border: none;
}

.star-rating>div {
    position: relative;
    height: var(--star-rating-size);
    width: calc(var(--star-rating-size) * var(--max-stars));
    background-image: var(--unchecked-image);
    background-size: var(--star-rating-size) var(--star-rating-size);
}

.star-rating label {
    position: absolute;
    height: 100%;
    background-size: var(--star-rating-size) var(--star-rating-size);
}

.star-rating label:nth-of-type(1) {
    z-index: 10;
    width: calc(100% / var(--max-stars) * 1);
}

.star-rating label:nth-of-type(2) {
    z-index: 9;
    width: calc(100% / var(--max-stars) * 2);
}

.star-rating label:nth-of-type(3) {
    z-index: 8;
    width: calc(100% / var(--max-stars) * 3);
}

.star-rating label:nth-of-type(4) {
    z-index: 7;
    width: calc(100% / var(--max-stars) * 4);
}

.star-rating label:nth-of-type(5) {
    z-index: 6;
    width: calc(100% / var(--max-stars) * 5);
}

.star-rating label:nth-of-type(6) {
    z-index: 5;
    width: calc(100% / var(--max-stars) * 6);
}

.star-rating label:nth-of-type(7) {
    z-index: 4;
    width: calc(100% / var(--max-stars) * 7);
}

.star-rating label:nth-of-type(8) {
    z-index: 3;
    width: calc(100% / var(--max-stars) * 8);
}

.star-rating label:nth-of-type(9) {
    z-index: 2;
    width: calc(100% / var(--max-stars) * 9);
}

.star-rating label:nth-of-type(10) {
    z-index: 1;
    width: calc(100% / var(--max-stars) * 10);
}

.star-rating input:checked+label,
.star-rating input:focus+label {
    background-image: var(--checked-image);
}

.star-rating input:checked+label:hover,
.star-rating label:hover {
    background-image: var(--hovered-image);
}

.star-rating>div:focus-within {
    outline: 0.25rem solid lightblue;
}

.star-rating input,
.star-rating label>span {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px, 1px, 1px, 1px);
    /*maybe deprecated but we need to support legacy browsers */
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap;
    /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

/* Media Queries */
@media screen and (min-width: 767px) {

    .game-data,
    .game-data-2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .hero-card {
        margin-top: 3rem;
    }

    .copyright-div {
        margin-left: .5rem;
        text-align: left;
    }

    .social-links-div {
        margin-left: .5rem;
        text-align: right;
    }
}

@media screen and (max-width: 767px) {
    .navbar-logo img {
        display: none
    }

    .navbar-logo h5 {
        position: absolute;
        margin-left: .5rem;
        bottom: 15%;
    }

    h1 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1920px) {
    .box-art {
        margin-left: 2rem;
    }
}