@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
    font-family: 'Scramble';
    src: url('../fonts/scramble.ttf') format('truetype');
}

/* Base Styles */
body {
    font-family: 'Inter', sans-serif;
}
h1 {
    font-size: 3.8rem;
    font-family: 'Scramble';
}

h1 span {
    background-color: #fff;
}

.text-center {
    text-align: center;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.nav-list li a {
    color: black;
}

.navbar-logo img,
.navbar-logo h5 {
    display: inline-block;
}

.navbar-logo h5 {
    position: relative;
    bottom: 25%;
}

/* Forms & Card Panels */
.sub-heading {
    font-size: 1.5rem;
}

.outer-panel {
    margin-top: 2rem;
    background-color: #dddddd;
}

.submit-btn i,
.submit-btn i input {
    background-color: #ffff00;
}

.small-text {
    font-size: 85%;
}

/* Flashed Messages */
.card-panel.success {
    background-color: lightgreen;
}

.card-panel.warning {
    background-color: darkred;
}

.card-panel.info {
    background-color: lightskyblue;
}

/* Media Queries */
@media screen and (max-width: 767px) {
    .navbar-logo img {
        display: none
    }

    .navbar-logo h5 {
        position: absolute;
        margin-left: .5rem;
        bottom: 15%;
    }

    h1 {
        font-size: 3rem;
    }
}