{% extends 'base.html' %}
{% block content%}
<h1 class="text-center">Above Board</h1>
<div class="row">
    <div class="col s12 m10 offset-m1">
        <div class="row">
            <div class="col s12 m6">
                {% if current_user.is_authenticated %}
                <h4>
                    <a href="{{ url_for('games.add_game') }}" class="add-game">
                        <i class="fas fa-plus-circle"></i> Add a Game</a>
                </h4>
                {% endif %}
            </div>
            <div class="col s12 m6">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="input-field col s12 l6">
                        <i class="prefix fas fa-search"></i>
                        {{ form.query.label }}
                        {% if form.query.errors %}
                        {{ form.query(class="invalid") }}
                        {% for error in form.query.errors %}
                        <span class="helper-text" data-error="{{ error }}"></span>
                        {% endfor %}
                        {% else %}
                        {{ form.query(class="validate") }}
                        {% endif %}
                    </div>
                    <div class="input-field col s12 l6 text-center submit-btn">
                        {{ form.submit(class="btn waves-effect waves-light")}}
                        <a href="{{ url_for('games.all_games') }}" class="btn red waves-effect waves-light">Reset</a>
                    </div>
                </form>
            </div>
        </div>
        {% if games|length > 0 %}
        <div class="card-panel outer-panel">
            <div class="row">
                {% for game in games %}
                <div class="col s12 m6 l3">
                    <a href="{{ url_for('games.view_game', gameid=game._id) }}" class="game-link">
                        <div class="card-panel game-panel">
                            <div class="row">
                                <div class="col s12">
                                    <p class="game-title text-center">{{ game.title }}</p>
                                </div>
                                <div class="col s12">
                                    <img class="box-art" src="{{ game.image_link }}" alt="{{ game.title }} box art">
                                </div>
                                <div class="col s6 game-info"><b>Player Count:</b> {{ game.player_count }}</div>
                                <div class="col s6 game-info"><b>Mechanics:</b> {{ game.mechanics.title() }}</div>
                                <div class="col s6 game-info"><b>Genre:</b> {{ game.genre.title() }}</div>
                                <div class="col s6 game-info"><b>Rating:</b> {{ game.rating }}/5</div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Pagination info and controls -->
        <div class="row paginate-row">
            <div class="col s12 m6">
                {{ pagination.info }}
            </div>
            <div class="col s12 m6">
                {{ pagination.links }}
            </div>
        </div>
    </div>
    {% else %}
    <h4 class="center-align">No Results Found</h4>
    {% endif %}
</div>
{% endblock %}