{% extends 'base.html' %}
{% block content %}
<div class="section grey hero-image">
    <div class="row">
        <div class="col s10 push-s1 m6 offset-m6 l4 offset-l8">
            <div class="card hero-card">
                <div class="card-content">
                    <span class="card-title text-center">Welcome to Above Board!</span>
                    <p class="hero-card-text">Above Board is a place for board gamers to catalogue and
                        rate their collections, see details of games added by others, and find something new to play!
                    </p>
                    <p class="hero-card-text">Click below to get started!</p>
                </div>
                <div class="card-action text-center">
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('games.my_games') }}" class="btn hero-btn">Go to My Games!</a>
                    {% else %}
                    <a href="{{ url_for('users.register') }}" class="btn hero-btn">Sign Up Now!</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-panel outer-panel recently-added-panel">
    <div class="row">
        <div class="col s12">
            <h4>Recently Added:</h4>
        </div>
        {% for game in games %}
        <div class="col s12 m6 l3">
            <a href="{{ url_for('games.view_game', gameid=game._id) }}" class="game-link">
                <div class="card-panel game-panel">
                    <div class="row">
                        <div class="col s12">
                            <p class="text-center">{{ game.title }}</p>
                        </div>
                        <div class="col s12">
                            <img class="box-art" src="{{ game.image_link }}" alt="{{ game.title }} box art">
                        </div>
                        <div class="col s6 game-info"><b>Player Count:</b> {{ game.player_count }}</div>
                        <div class="col s6 game-info"><b>Mechanics:</b> {{ game.mechanics.title() }}</div>
                        <div class="col s6 game-info"><b>Genre:</b> {{ game.genre.title() }}</div>
                        <div class="col s6 game-info"><b>Rating:</b> {{ game.rating }}/5</div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        <div class="col s12 m6 l3">
            <div class="card-panel game-panel">
                <h4 class="card-title">Actions:</h4>
                <hr class="action-hr">
                <div class="row">
                    {% if current_user.is_authenticated %}
                    <div class="col s12">
                        <a href="{{ url_for('games.add_game') }}" class="utility-links">
                            <p>
                                <i class="fas fa-plus-circle"></i> Add a Game
                            </p>
                        </a>
                    </div>
                    <div class="col s12">
                        <a href="{{ url_for('games.my_games') }}" class="utility-links">
                            <p>
                                <i class="fas fa-dice"></i> See My Games
                            </p>
                        </a>
                    </div>
                    {% else %}
                    <div class="col s12">
                        <a href="{{ url_for('users.register') }}" class="utility-links">
                            <p>
                                <i class="fas fa-user"></i> Sign up!
                            </p>
                        </a>
                    </div>
                    <div class="col s12">
                        <a href="{{ url_for('games.all_games') }}" class="utility-links">
                            <p>
                                <i class="fas fa-dice"></i> See All Games
                            </p>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}