{% extends 'base.html' %}
{% block content%}
<h1 class="text-center">Above Board</h1>
<div class="row">
    <div class="col s12 m10 offset-m1">
        <div class="row">
            <div class="col s12 m6">
                <h4>
                    <a href="{{ url_for('add_game') }}" class="add-game">
                        <i class="fas fa-plus-circle"></i> Add a Game</a>
                </h4>
            </div>
            <div class="col s12 m6">Search bar bit</div>
        </div>
        <div class="card-panel outer-panel">
            <div class="row">
                {% for game in games %}
                <div class="col s12 m4 l3">
                    <a href="{{ url_for('view_game', gameid=game._id) }}" class="game-panel">
                        <div class="card-panel">
                            <div class="row">
                                <div class="col s12">
                                    <p class="text-center">{{ game.title }}</p>
                                </div>
                                <div class="col s12">
                                    <img class="box-art" src="{{ game.image_link }}" alt="{{ game.title }} box art">
                                </div>
                                <div class="col s6 game-info"><b>Player Count:</b> {{ game.player_count }}</div>
                                <div class="col s6 game-info"><b>Mechanics:</b> {{ game.mechanics.title() }}</div>
                                <div class="col s6 game-info"><b>Genre:</b> {{ game.genre.title() }}</div>
                                <div class="col s6 game-info"><b>Rating:</b> STARS GO HERE </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}