{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">Above Board</h1>
<div class="row">
    <div class="col s12 m10 offset-m1">
        <div class="card-panel outer-panel">
            <h2 class="text-center">{{current_user.fname}}'s Profile</h2>
            <div class="card-panel">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset>
                        <legend>Update Account Info</legend>
                        <div class="input-field col s6">
                            {{ form.fname.label }}
                            {% if form.fname.errors %}
                            {{ form.fname(class="invalid") }}
                            {% for error in form.fname.errors %}
                            <span class="helper-text" data-error="{{ error }}"></span>
                            {% endfor %}
                            {% else %}
                            {{ form.fname(class="validate") }}
                            {% endif %}
                        </div>
                        <div class="input-field col s6">
                            {{ form.lname.label }}
                            {% if form.lname.errors %}
                            {{ form.lname(class="invalid") }}
                            {% for error in form.lname.errors %}
                            <span class="helper-text" data-error="{{ error }}"></span>
                            {% endfor %}
                            {% else %}
                            {{ form.lname(class="validate") }}
                            {% endif %}
                        </div>
                        <div class="input-field col s12">
                            {{ form.email.label }}
                            {% if form.email.errors %}
                            {{ form.email(class="invalid") }}
                            {% for error in form.email.errors %}
                            <span class="helper-text" data-error="{{ error }}"></span>
                            {% endfor %}
                            {% else %}
                            {{ form.email(class="validate") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="input-field submit-btn">
                        {{ form.submit(class="btn waves-effect waves-light")}}
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col s12 m6 text-center">
                    <a href="{{ url_for('games.my_games') }}" class="profile-links">
                        <h4>
                            <i class="fas fa-dice-six"></i> See My Games
                        </h4>
                    </a>
                </div>
                <div class="col s12 m6 text-center">
                    <a href="{{ url_for('games.all_games') }}" class="profile-links">
                        <h4>
                            <i class="fas fa-dice"></i> See All Games
                        </h4>
                    </a>
                </div>
                <div class="col s12 text-center">
                    <a href="{{ url_for('games.add_game') }}" class="profile-links">
                        <h4>
                            <i class="fas fa-plus-circle"></i> Add a Game
                        </h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}