{% extends 'base.html' %}
{% block content%}
<div class="row">
    <div class="col s12 m10 offset-m1">
        <div class="card-panel outer-panel">
            <div class="row">
                <div class="col s12">
                    <h1 class="text-center"><span>Above</span> <span>Board</span></h1>
                    <p class="text-center bold sub-heading">Reset Password</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <div class="card-panel">
                        <form method="POST">
                            {{ form.hidden_tag() }}
                            <fieldset>
                                <legend>Reset Your Password</legend>
                                <div class="input-field col s12">
                                    <i class="prefix fas fa-lock"></i>
                                    {{ form.password.label }}
                                    {% if form.password.errors %}
                                    {{ form.password(class="invalid") }}
                                    {% for error in form.password.errors %}
                                    <span class="helper-text" data-error="{{ error }}"></span>
                                    {% endfor %}
                                    {% else %}
                                    {{ form.password(class="validate") }}
                                    {% endif %}
                                </div>
                                <div class="input-field col s12">
                                    <i class="prefix fas fa-lock"></i>
                                    {{ form.confirm.label }}
                                    {% if form.confirm.errors %}
                                    {{ form.confirm(class="invalid") }}
                                    {% for error in form.confirm.errors %}
                                    <span class="helper-text" data-error="{{ error }}"></span>
                                    {% endfor %}
                                    {% else %}
                                    {{ form.confirm(class="validate") }}
                                    {% endif %}
                                </div>
                            </fieldset>
                            <div class="input-field text-center submit-btn">
                                {{ form.submit(class="btn waves-effect waves-light")}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}